@import '~bulma/sass/utilities/_all';

$primary: hsla(0, 0, 16%, 1);
$primary-invert: findColorInvert($primary);

// Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;
$text: $grey;
$text-light: $grey-dark;
$text-strong: $grey-dark;

// $scheme-main : $black;
// $scheme-main-bis: $black-bis;
// $scheme-main-ter: $black-ter;

// $scheme-invert-main: $white;
// $scheme-invert-main-bis: $white-bis;
// $scheme-invert-main-ter: $white-ter;

// $background: red;

$colors: (
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $dark-invert),
	"primary": ($primary, $primary-invert),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert),
);

$family-cursive: cursive;

body {
	min-height: 100vh;
}

.has-text-underlined {
	text-decoration: underline;
}

.is-family-cursive {
	font-family: $family-cursive;
}

@import '~bulma';
@import '~buefy/src/scss/buefy';
